.container {
  text-align: center;
  /* position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%); */
}

.container a {
  text-decoration: none;
}

a {
  margin: 20px 0;
  display: inline-block;
}

table,
td,
th,
tr {
  /* border: 1px solid #ccc; */
}

table {
  margin: 0 auto;
  /* border-collapse: collapse;
  border-spacing: 0; */
  padding: 10px;
}
table .addSt {
  border: none;
}

#addStudent {
  /* background-color: red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.container .error {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em red;
}
@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@media only screen and (max-width: 600px) {
  #addStudent {
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .containerEdit {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
  }
  .containerEdit > table {
    width: 100%;
    height: 100%;
    /* background-color: teal; */
  }
  .btnAdd {
    margin-right: 20px;
  }
  .btnBack {
  }
  /* tbody > tr {
    margin-bottom: 10px;
  }
  tr {
    padding: 10px;
  } */
  table > tbody > tr > td > input {
    /* background-color: blue; */
    padding: 10px;
    width: 60vw;
  }
  table > tbody > tr {
    margin-bottom: 20px;
  }
}
