.container {
  text-align: center;
  /* position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%); */
}

.container a {
  text-decoration: none;
}

a {
  margin: 20px 0;
  display: inline-block;
}

table,
td,
th,
tr {
  border: 1px solid #ccc;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}

/* #avatar {
  width: 30%;
} */
@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    /* background-color: red; */
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  input.input-search {
    padding: 10px 10px;
    margin-bottom: 20px;
    width: 300px;
  }
  button.btn {
    
    padding: 15px 20px;
    background-color: teal;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
  }
  button.btn:hover {
    background-color: darkred;
  }
  .wrapper-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-table {
    padding: 20px;
  }
  .preAva {
    width: 30%;
  }
}
